<h1>Gallery</h1>
<main id="gallery">
  <div class="column">
    <img src="../../../assets/img/blanket_potato.jpeg" alt="" />
    <img src="../../../assets/img/chair_potato.jpeg" alt="" />
    <img src="../../../assets/img/floor_potato.jpg" alt="" />
    <img src="../../../assets/img/short_hair_potato.JPG" alt="" />
    <img src="../../../assets/img/in-air_potato.JPG" alt="" />
  </div>
  <div class="column">
    <img src="../../../assets/img/couch_potato.jpg" alt="" />
    <img src="../../../assets/img/potato_driving.JPG" alt="" />
    <img src="../../../assets/img/originals/A0A5830-R1-01-22.jpeg" alt="" />
    <img src="../../../assets/img/potato_bed_2.JPG" alt="" />
    <img src="../../../assets/img/originals/lookingback_potato.JPG" alt="" />
    <img src="../../../assets/img/originals/potato_on_toby.JPG" alt="" />
  </div>
  <div class="column">
    <img src="../../../assets/img/originals/carpet_potato.jpg" alt="" />
    <img src="../../../assets/img/originals/IMG_0795.jpg" alt="" />
    <img src="../../../assets/img/potato_hammock.JPG" alt="" />
    <img src="../../../assets/img/originals/DSC_1042.jpeg" alt="" />
  </div>
  <div class="column">
    <img src="../../../assets/img/originals/IMG_8499.JPG" alt="" />
    <img src="../../../assets/img/originals/DSC_1028.jpeg" alt="" />
    <img src="../../../assets/img/originals/IMG_2810.JPEG" alt="" />
    <img src="../../../assets/img/profile/ears_down.jpg" alt="" />
  </div>
</main>
<footer>
  <div>
    <p>© 2022 M&M Web Development</p>
    <p>
      Icons made by
      <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
      from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </p>
  </div>
</footer>
