nav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column-reverse;
  color: #99b898;
  font-size: 2rem;
  font-family: "Plavea Shine";
  max-width: 700px;
}

a {
  margin: 0 10px;
  text-decoration: none;
  color: #99b898;
}

.nav-links {
  margin: 0 0 1rem;
  padding: 0;
  display: flex;
  flex-flow: column;
  background-color: #d4eee3;
}

.hidden {
  display: none;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  background-color: #d4eee3;
  display: flex;
  justify-content: center;
}
// hamburger menu
.nav_button {
  align-self: flex-end;
  height: 8vh;
  width: 40px;
}

svg {
  height: 100%;
  width: 100%;
}

.site-logo {
  display: flex;
  margin: 0;
}

.site-logo img {
  height: 8vh;
}

.nav_button svg:hover {
  cursor: pointer;
}

.nav_button svg:hover .bg_circle {
  fill: #ffe5d9;
}

@media screen and (min-width: 800px) {
  nav {
    flex-flow: row-reverse;
  }

  .nav-links {
    margin: 0;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 8vh;
      margin: 0 30px;
    }
  }
}
