  <main>
    <header>
      <div class="header_container">
        <h1>My name is Potato.</h1>
        <h2>I am a Shih Tzu.</h2>
      </div>
      <img class="header_img" src="../../../assets/img/profile/no-loop-potato.gif"
        alt="An animation of a shih tzu saying 'Hi'" class="gif">
    </header>
    <app-section class="profile section">
      <img class="pro" src="./img/profile/ears_down300px.jpg"
        srcset="../../../assets/img/profile/ears_down1000px.jpg, ./img/profile/ears_down600px.jpg, ./img/profile/ears_down300px.jpg"
        alt="Potato with her ears down.">
      <h2>Hello!</h2>
      <p>I love to bark and sleep. My favorite toy is a frog and my favorite people are everyone.</p>
    </app-section>
    <app-section class="skills section">
      <h2>My Skills</h2>
      <!-- Ranking of skills: 54443222211 -->
      <table>
        <tr>
          <td>"Jerky"</td>
          <td><span class="star">★</span><span class="star">★</span><span class="star">★</span><span
              class="star">★</span><span class="star">★</span></td>
        </tr>
        <tr>
          <td>"Down"</td>
          <td><span class="star">★</span><span class="star">★</span><span class="star">★</span><span
              class="star">★</span><span class="star">★</span></td>
        </tr>
        <tr>
          <td>"Shake"</td>
          <td><span class="star">★</span><span class="star">★</span><span class="star">★</span><span
              class="star">★</span><span>★</span></td>
        </tr>
        <tr>
          <td>"High Five"</td>
          <td><span class="star">★</span><span class="star">★</span><span class="star">★</span><span
              class="star">★</span><span>★</span></td>
        </tr>
        <tr>
          <td>"Sit"</td>
          <td><span class="star">★</span><span class="star">★</span><span class="star">★</span><span
              class="star">★</span><span>★</span></td>
        </tr>
        <tr>
          <td>"Roll Over"</td>
          <td><span class="star">★</span><span class="star">★</span><span class="star">★</span><span>★</span><span>★</span>
          </td>
        </tr>
        <tr>
          <td>"Off"</td>
          <td><span class="star">★</span><span class="star">★</span><span class="star">★</span><span>★</span><span>★</span>
          </td>
        </tr>
        <tr>
          <td>"No"</td>
          <td><span class="star">★</span><span class="star">★</span><span class="star">★</span><span>★</span><span>★</span>
          </td>
        </tr>
        <tr>
          <td>"Leave it"</td>
          <td><span class="star">★</span><span class="star">★</span><span class="star">★</span><span>★</span><span>★</span>
          </td>
        </tr>
        <tr>
          <td>"Touch"</td>
          <td><span class="star">★</span><span class="star">★</span><span>★</span><span>★</span><span>★</span></td>
        </tr>
        <tr>
          <td>"Come"</td>
          <td><span class="star">★</span><span>★</span><span>★</span><span>★</span><span>★</span></td>
        </tr>
        <tr>
          <td>"Fetch"</td>
          <td><span class="star">★</span><span>★</span><span>★</span><span>★</span><span>★</span></td>
        </tr>
      </table>
    </app-section>
    <app-section class="daily_life">
      <h2>My Daily Life</h2>
      <h4 class="directions">Scroll to the right -></h4>
      <div class="timeline-container">
        <ul class="yscroll">
          <li class="box box1">
            <h3>7 AM - 8 AM</h3>
            <span>
              I will wake up and lick your face. Please take me out to pee and poop. After I'm done, please feed me breakfast and
              refill my water bowl.
            </span>
          </li>
          <li class="box box2">
            <h3>8 AM - 12 PM</h3>
            <span>
              I will sleep this entire time, I like cuddles if you want to sleep with me.
            </span>
          </li>
          <li class="box box3">
            <h3>12 PM</h3>
            <span>
              Can you please take me out again to pee?
            </span>
          </li>
          <li class="box box4">
            <h3>12 PM - 5 PM</h3>
            <span>
              Time for a nap. I'm tired from going to pee.
            </span>
          </li>
          <li class="box box5">
            <h3>5 PM</h3>
            <span>
              Take me for a walk please!
              After the walk, my feet must be mudbustered. I feel icky with all of the outside dirt sticking to me. Feed me again plz.
            </span>
          </li>
          <li class="box box6">
            <h3>6 PM - 10 PM</h3>
            <span>
              Whatcha doing? Can I watch?
            </span>
          </li>
          <li class="box box7">
            <h3>10 PM</h3>
            <span>
              Time for bed! I'd like to go out one last time before we cuddle for the night
            </span>
          </li>
          <hr>
        </ul>
      </div>
    </app-section>
    <!-- <section class="daily_life">

    </section> -->
  </main>
  <app-footer></app-footer>
