<main>
  <header>
    <div class="header_container">
      <h1>Hi, my name is Potato.</h1>
      <h2>I am a Shih Tzu.</h2>
    </div>
    <img
      class="header_img"
      src="../../../assets/img/profile/no-loop-potato.gif"
      alt="An animation of a shih tzu saying 'Hi'"
      class="gif"
    />
  </header>
  <app-section class="profile section">
    <img
      class="pro"
      src="./img/profile/ears_down300px.jpg"
      srcset="
        ../../../assets/img/profile/ears_down1000px.jpg,
        ./img/profile/ears_down600px.jpg,
        ./img/profile/ears_down300px.jpg
      "
      alt="Potato with her ears down."
    />
    <h2>Hello!</h2>
    <p>
      Nice to meet you, welcome to my life! Thank you for taking care of me, we
      are going have so much fun 🙂
    </p>
  </app-section>
  <app-section class="skills section">
    <h2>My Skills</h2>
    <!-- Ranking of skills: 54443222211 -->
    <table>
      <tr>
        <td>"Jerky"</td>
        <td>
          <span class="star">★</span><span class="star">★</span
          ><span class="star">★</span><span class="star">★</span
          ><span class="star">★</span>
        </td>
      </tr>
      <tr>
        <td>"Down"</td>
        <td>
          <span class="star">★</span><span class="star">★</span
          ><span class="star">★</span><span class="star">★</span
          ><span class="star">★</span>
        </td>
      </tr>
      <tr>
        <td>"Shake"</td>
        <td>
          <span class="star">★</span><span class="star">★</span
          ><span class="star">★</span><span class="star">★</span><span>★</span>
        </td>
      </tr>
      <tr>
        <td>"High Five"</td>
        <td>
          <span class="star">★</span><span class="star">★</span
          ><span class="star">★</span><span class="star">★</span><span>★</span>
        </td>
      </tr>
      <tr>
        <td>"Sit"</td>
        <td>
          <span class="star">★</span><span class="star">★</span
          ><span class="star">★</span><span class="star">★</span><span>★</span>
        </td>
      </tr>
      <tr>
        <td>"Leave it"</td>
        <td>
          <span class="star">★</span><span class="star">★</span
          ><span class="star">★</span><span class="star">★</span><span>★</span>
        </td>
      </tr>
    </table>
  </app-section>
  <app-section class="daily_life">
    <h2>My Daily Life</h2>
    <div class="timeline-container">
      <ul class="yscroll">
        <li class="box box1">
          <h3>7 AM - 8 AM</h3>
          <span>
            I will wake up and lick your face. Can we go out to pee and poop.
            Also, I'll probably get hungry later so if you give me food... I
            wouldn't mind that hehe
          </span>
        </li>
        <li class="box box2">
          <h3>8 AM - 12 PM</h3>
          <span>
            I will sleep this entire time, I like cuddles if you want to sleep
            with me
          </span>
        </li>
        <li class="box box3">
          <h3>12 PM</h3>
          <span> Can you take me out again to pee? please and thank you </span>
        </li>
        <li class="box box4">
          <h3>12 PM - 5 PM</h3>
          <span>
            Time for a nap. I'm tired from going to pee. Just wanna say I'm
            having the time of my life.
          </span>
        </li>
        <li class="box box5">
          <h3>5 PM</h3>
          <span> Another pee break? YIPPEE Nom nom nom, time for dinner </span>
        </li>
        <li class="box box6">
          <h3>6 PM - 10 PM</h3>
          <span>
            Whatcha doing? Can I watch? ooooohhh maybe we can watch some birds
            in the window!! do you like that? no? ok we can watch some netflix
            if you want.
          </span>
        </li>
        <li class="box box7">
          <h3>10 PM - 11 PM</h3>
          <span>
            Time for bed! Can we pee one more time before we cuddle for the
            night.. pleeeassseee pretty pleeeassee
          </span>
        </li>
        <hr />
      </ul>
    </div>
  </app-section>
</main>
<app-footer></app-footer>
