.gif {
  display: block;
  width: 300px;
}

header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background: #d4eee3;
  margin: 0;
  height: 92vh;
  height: calc(var(--vh, 1vh) * 92);
}

.header_container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 300px;
  h1 {
    font-size: clamp(5rem, 10vw, 8rem);
  }
  h2 {
    font-size: clamp(2.5rem, 6vw, 4rem);
    margin: 0;
    padding: 0;
  }
}

.section p {
  width: 70%;
  margin: 1rem auto;
  line-height: 2;
}

.pro {
  border-radius: 100%;
  width: min(40vw, 300px);
}

h2 {
  margin: 0;
}

h4 {
  margin: 1rem;
}
