main {
  padding-bottom: 59px;
}

/* GRID layout for dog log */
@media screen and (min-width: 1024px) {
  footer {
    margin-top: 4rem;
  }

  .log_container {
    margin-top: 3rem;
  }
}

/* Header/Nav */

header {
  padding: 0 0 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 5rem;
}

nav {
  padding: 0;
}

nav ul {
  background: #ffe5d9;
}

.nav_button svg {
  width: 6rem;
  height: 6rem;
}

/* Dog Log Enter Info Styling */
form {
  position: fixed;
  bottom: 0;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.log_form button {
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background: lightgray;
  transition: all 0.3s ease;
  width: 5%;
  max-width: 150px;
  padding: 1rem;
  // margin: 0.5rem;
}

.log_form button:hover {
  background: #59c0c2;
  cursor: pointer;
}

.tooltip_class {
  font-family: "adeline";
  color: red;
}

/* Dog Log List Styling */

.log_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.log_list {
  min-width: 75%;
  list-style: none;
}

/* Individual list entries and items */

.log_entry {
  margin: 0.5rem;
  border-radius: 10px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  /* align-items: stretch; */
  transition: all 1s ease;
}

.log_entry li {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  text-transform: capitalize;
  margin-right: 1px;
  padding: 0rem 1rem;
}

.log_entry li:nth-last-child(2) {
  border-right: none;
}

/* Trash button */

.trash_btn {
  background: #59c0c2;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  align-self: stretch;
  transition: 0.3s all ease;
}

.trash_btn:hover {
  background: white;
  color: #59c0c2;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

/* Select Tag */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  background: white;
}
