<h1>Bio</h1>
<main id="bio">
  <!-- Picture on the side that doesn't move while I scroll -->
  <div class="bio_pic">
    <img src="../../../assets/img/originals/carpet_potato.jpg" alt="Picture of Potato" />
  </div>
  <div class="bio">
    <h2>Hi, my name is Potato</h2>
    <ul>
      <!-- Auto-fill age based on date and time -->
      <li>
        When I was 8 weeks old, my mommy got me from a puppy
        mill in Missouri. I used to be brown and black so she
        named me Potato but now I'm white so joke's on her.
      </li>
      <li>
        <h3>Here are some basic facts about me:</h3>
        <ul>
          <li>
            My burfday is on August 4th, 2019... I think.
          </li>
          <li>I weigh 13.5 lbs.</li>
        </ul>
      </li>
      <li>
        <h3>Here are some important facts about me:</h3>
        <ul>
          <li>
            I eat Farmer's Dog fresh food like a queen. It is tailored to me
            because I am a picky eater. I also only eats
            jerky treats so none of that yucky biscuit crap.
          </li>
          <li>
            I pee about every 7 to 8 hours and poop 1 to 2
            times a day.
          </li>
          <!-- <li>
								My mommy's name is Megan Lin <br />If you need
								her, please call 573-631-1591.
							</li>
							<li>
								If she doesn't answer, please call my friend Max
								at 630-512-7809. Don't worry, he's a human.
							</li> -->
          <li>
            If I get lost, my chip ID is 981020033754551.
          </li>
          <li>
            My vet is Burnham Park Animal Hospital. They take
            care of me when i'm sick. My mommy pays a lot of money
            for that.
            <br>
            Here is their information:
            <address>
              Burnham Park Animal Hospital
              <br>
              1025 S State St, Chicago, IL 60605
              <br>
              312.663.9200
              <br>
              burnhamparkvet.com
            </address>
            
          </li>
        </ul>
      </li>
      <li>
        <h3>Here are some fun facts about me:</h3>
        <ul>
          <li>
            I love them meats like bacon and chicken, but
            make sure there is nothing on them and I don't
            eat too much or I'll throw up and you'll have a
            mess to clean up. I won't eat any of my fruits
            or vegetables and that makes my mommy sad. If
            you give me carrots, I'll chew them up and
            scatter them around the house for you.
          </li>
          <li>
            My best friend's name is Toby. He is HUGE but we
            have fun. I also love other dogs but they don't
            like me that much.
          </li>
          <li>
            Don't freak out if you notice I don't have
            two of my front teeth. I lost them in a fight
            with a slipper.
          </li>
        </ul>
      </li>
    </ul>
  </div>
</main>
<footer>
  <div>
    <p>© 2022 M&M Web Development</p>
    <p>
      Icons made by
      <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
      from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </p>
  </div>
</footer>
